Skip to main contentSkip to toolbar
About WordPress
My Networks
Phi Beta Kappa: Gamma Chapter
00 comments awaiting moderation
New
Howdy, daniel.rieck
Log Out
W-A-S-H-I-N-G-T-O-N-S-T-A-T-E-C-O-U-G-S!
CSS Stylesheet Editor
New to CSS? Start with a beginner tutorial. Questions? Ask in the Themes and Templates forum.


1
@import  'https://fonts.googleapis.com/css?family=Roboto+Mono:300|Roboto+Condensed:400,700|Roboto+Slab|PT+Serif';
2
​
3
/* Built with the LESS CSS preprocessor [http://lesscss.org/]. Please see [https://github.com/invokeImmediately/phibetakappa.wsu.edu] for a repository of source code. */
4
/*! ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
5
*   ║ MASTER STYLE SHEET for WSU Office of Undergraduate Education Websites ############################################### ║
6
*   ╠=======================================================================================================================╣
7
*   ║ AUTHOR: Daniel Rieck [daniel.rieck@wsu.edu] (https://github.com/invokeImmediately)                                    ║
8
*   ║                                                                                                                       ║
9
*   ║ DESCRIPTION: Intended for use with all elements regardless of semantics                                               ║
10
*   ║                                                                                                                       ║
11
*   ║ LAYOUT: This document is laid out according to the W3C HTML5 language specification (please see                       ║
12
*   ║          https://www.w3.org/TR/html5/ for more information). Rulesets are generally declared in the same sequence as  ║
13
*   ║          their matching elements appear in the HTML5 spec. Moreover, style declarations are made according to browser ║
14
*   ║          rendering sequence; styles for controlling layout are followed by those related to painting and then by      ║
15
*   ║          those associated with dynamic behaviors to the DOM tree.                                                     ║
16
*   ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
17
*/
18
/*!   ╔═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╗
19
*     ║ #### Global LESS VARIABLES, LESS MIXINS, and CLASS SPECIFIC rulesets ############################################ ║
20
*     ╠===================================================================================================================╣
21
*     ║ LESS variables and mixins and low-specificity CSS3 rulesets designed for either styling nodes without             ║
22
*     ║ regard to semantics or being included within LESS dependencies.                                                   ║
23
*     ╚═══════════════════════════════════════════════════════════════════════════════════════════════════════════════════╝
24
*/
25
/*!     ┌───────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
26
*       │ ++++ Additional FONTS +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ │
27
*       │   CSS classes and LESS variables and parametric mixins designed for inclusion in dependencies to facilitate   │
28
*       │   typographical design of dependent layouts.                                                                  │
29
*       └───────────────────────────────────────────────────────────────────────────────────────────────────────────────┘
30
*/
31
.has-mono-font {
32
    font-family: 'Roboto Mono', monospace, sans-serif;
33
    font-weight: 300;
34
}
35
​
36
.column,.column h1,.column h2,.column h3,.column h4,.gform_heading h3.gform_title,.has-dflt-font,body,div.column,header.main-header {
37
    font-family: 'Open Sans', 'Lucida Sans', sans-serif;
38
}
39
​
40
.has-dflt-font.serif {
41
    font-family: 'Roboto Slab', Palatino, serif;
42
}
43
​
44
.column p.article-tagline.sans,.has-alt-font,span.accentuated-text {
45
    font-family: 'Open Sans Condensed', 'Lucida Sans', sans-serif;
46
}
47
​
48
.has-subst-font {
49
    font-family: 'Roboto Condensed', 'Lucida Sans', sans-serif;
50
}
51
​
52
.has-subst-font.serif {
53
    font-family: 'PT Serif', Palatino, serif;
54
}
55
​
56
.column .initially-hidden,.initially-hidden {
57
    display: none;
Toggle panel: Publish
Mode: Add-on Edit
Content Width: 3284 px Edit
 Toggle panel: CSS Revisions
 daniel.rieck 3 months ago
 daniel.rieck 1 year ago
 daniel.rieck 1 year ago
 daniel.rieck 1 year ago
 daniel.rieck 1 year ago
 daniel.rieck 1 year ago

Show all
Toggle panel: Help

Thank you for creating with WordPress at Washington State University. WSUWP Platform 1.7.1 | WordPress 4.9.2 [42494]